<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

  <div class="taskShow">
    <%= link_to 'New Task', new_task_path %>
    <% @tasks.each do |task| %>
      <div class="single">
        <h4>Task: </h4>
        <%= task.task %> </br>
        <h4>Type: </h4>
        <%= task.type_of_task %>  </br>
        <h4>Status: </h4>
        <%= task.completed ? "Completed" : "Not Completed" %>
        <h4>Description: </h4>
        <%= task.description %> 
        <nav>
          <%= link_to 'Show', task %>
          <%= link_to 'Edit', edit_task_path(task) %>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
        </nav>
      </div>
    <% end %>
  </div>

<br>


