<p id="notice"><%= notice %></p>

<p>
  <strong>Task:</strong>
  <%= @task.task %>
</p>

<p>
  <strong>Type of task:</strong>
  <%= @task.type_of_task %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.users_id %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>



<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
