<p id="notice"><%= notice %></p>

<h1>Users</h1>


  <div class="users">
    <% @users.each do |user| %>
        <h4>Username</h4>
        <td><%= user.username %></td>
        <h4>Email</h4>
        <td><%= user.email %></td>
        <h4>Password</h4>
        <td><%= user.password %></td> <br/>
        <tr><% user.tasks.each do |task| %>
          <strong>Task: </strong>
            <td> <%= task.task %> </td>
            <strong>Type: </strong>
            <td> <%= task.type_of_task %> </td> 
            <strong>Status: </strong>
            <td> <%= task.completed ? "Completed" : "Not Completed" %></td>
            <strong>Description: </strong>
            <td> <%= task.description %> </td> 
          <% end %></tr>
        <a><%= link_to 'Show', user %></a>
        <a><%= link_to 'Tasks' %></a>
        <a><%= link_to 'Edit', edit_user_path(user) %></a>
        <a><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></a>
    <% end %>
  </div>

<br>

<%= link_to 'New User', new_user_path %>
