<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div class="new_user"><%=  link_to 'New User', new_user_path %></div>
  <div class="users">
  <%# <%= image_tag 'image.png', width: '100px' %> 
    <% @users.each do |user| %>
    <div class='user-container'>
      <div class="user">
        <div class="profile">
          <div>
            <%= image_tag user.profile_picture.attached? ? user.profile_picture : 'image.png', width: '30%' %>
          </div>
          <div>
            <h4>Username</h4>
            <p><%= user.username %></p>
          </div>
        </div>
        <div>
          <h4>Email</h4>
          <p><%= user.email %></p>
        </div>
        <div class="tasks"><% user.tasks.each do |task| %>
          <strong>Task: </strong>
            <p> <%= task.task %> </p>
            <strong>Type: </strong>
            <p> <%= task.type_of_task %> </p> 
            <strong>Status: </strong>
            <p> <%= task.completed ? "Completed" : "Not Completed" %></p>
            <strong>Description: </strong>
            <p> <%= task.description %> </p> 
          <% end %></div>
        </div>
        <div class="links">
          <%= link_to 'Show', user %>
          <%= link_to 'Tasks' %>
          <%= link_to 'Edit', edit_user_path(user) %>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>

<br>


