<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Profile Picture:</strong>
  <%= image_tag @user.profile_picture %>
</p>

<p>
  <% @user.tasks.each do |task| %>
    <h4>Task: </h4>
    <%= task.task %> </br>
    <h4>Type: </h4>
    <%= task.type_of_task %>  </br>
    <h4>Status: </h4>
    <%= task.completed ? "Completed" : "Not Completed" %>
    <h4>Description: </h4>
    <%= task.description %>  <br/>
  <% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
